.settings {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;

    .select {
        background-color: red;
    }
}
