.navbar {
    background-color: var(--navbar-bg);
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: auto;

    &_tabs,
    &_tools {
        display: flex;
        flex-direction: row;
    }

    &_tools {
        margin-left: 5px;
    }
}

.navbar_element {
    color: var(--font-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-items);
    width: fit-content;
    padding: 5px;
    min-width: 80px;
    cursor: grab;
    border-left: 1px var(--navbar-bg) solid;

    &:hover {
        cursor: pointer;
    }

    &-active {
        @extend .navbar_element;
        background-color: var(--dashboard-bg);
    }
}

#home {
    border-left: none;
}

.button-close {
    margin-top: 4px;;
    margin-left: 2px;
    &:hover {
        background-color: var(--button-close);
    }
}
