.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar);
    height: 100%;
    width: 50px;
    color: var(--font-sidebar);
    justify-content: space-between;

    &_tabs,
    &_tools {
        display: flex;
        flex-direction: column;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    color: var(--font-sidebar);

    &-active {
        @extend .icon;
        border-left: red solid;
    }
}

