.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.skills {
  display: flex;
}

.profilepic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: yellow solid;
}

.profilecontainer {
  display: flex;
  justify-content: space-between;
}